@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* body is centering the msg div and position relative to parent the canvas */
body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background: #000;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Dongle', sans-serif;
  font-size: 1.75rem;
}

/* making canvas go on top of msg div  */
canvas {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

#msg {
  color: #fff;
  user-select: none;
}

/* msg div gets a fadeout animation upon first click, forwards mode makes sure it stays hidden  */
#msg.hide {
  animation: 2s fadeOut forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
